.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px 7vw;
  @media (max-width: 1100px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    text-align: center;
  }
  .heroText {
    h1 {
      font-size: max(4vw, 30px);
    }
    p {
      font-size: max(1.5vw, 18px);
      color: #7e7d7a;
    }
  }
  .heroPicture {
    position: relative;
    width: max(35vw, 17rem);
    .heroImg {
      width: max(35vw, 17rem);
    }
    .starImg {
      width: max(20%, 1rem);
    }
  }
  .heroElementWrapperName,
  .heroElementWrapperPrice,
  .heroElementWrapperRating {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    backdrop-filter: blur(4px);
    border-radius: 62px;
    height: max(10%, 1em);

    padding: 1px;

    margin: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    .heroPictureName,
    .heroPicturePrice,
    .heroPictureRating {
      background-color: #ffffff;
      border-radius: 42px;
      width: 95%;
      height: 80%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5em;

      font-size: max(1.2vw, 1rem);
      font-weight: 600;
    }
    .heroPicturePrice,
    .heroPictureRating {
      border-radius: 50px;
    }
  }
}
.heroElementWrapperName {
  position: absolute;
  top: 5%;
  left: 0%;
  width: max(30%, 8em);
}
.heroElementWrapperPrice,
.heroElementWrapperRating {
  width: 100px;
}
.heroElementWrapperPrice {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: max(30%, 5em);
}
.heroElementWrapperRating {
  position: absolute;
  top: 20%;
  right: -3%;
  width: max(30%, 5em);
}
.title {
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: max(3vw, 2rem);
  font-weight: 600;
  margin-left: 145px;
  @media (max-width: 1110px) {
    justify-content: center;
    margin-left: 0;
  }

  span {
    position: relative;
    &:after {
      content: '';
      display: block;
      height: max(0.4vw, 4px);
      border-radius: 12px;
      width: 100%;
      background: #ff902b;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
