.wrapper {
  text-align: center;
  position: relative;
  top: 25%;
  img {
    width: 20%;
  }
  h3 {
    font-size: max(3vw, 2rem);
    font-weight: 600;
  }
  p {
    color: #777777;
    font-size: max(1.5vw, 1rem);
  }
}
