.card {
  z-index: 20;
  position: relative;
  top: 75px;
  width: max(20vw, 300px);

  transition: all 0.2s ease-in-out;
  &:hover {
    // transform: scale(1.03);
    transform: translateY(-10px);
  }
  .cardOuter {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
    // backdrop-filter: blur(4px);
    border-radius: 12px;
    height: 100%;
    width: fit-content;
    padding: 5px;

    align-items: center;
    justify-content: center;
    display: inline-block;
    filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.16));
    background: none;
    .cardWrapper {
      background-color: #ffffff;
      border-radius: 12px;
      padding: 18px;

      .cardImage {
        position: relative;
        .cardWrapperRating {
          background: linear-gradient(
            180deg,
            rgba(255, 255, 255, 0.7) 0%,
            rgba(255, 255, 255, 0.4) 100%
          );
          backdrop-filter: blur(4px);
          border-radius: 10%;

          padding: 1px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          top: 10px;
          left: 10px;
          .cardPictureRating {
            background-color: #ffffff;
            border-radius: 10%;
            width: 90%;

            padding: 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: max(1vw, 1rem);
            font-weight: 600;
            .starPicture {
              width: max(1vw, 1rem);
              height: fit-content;
            }
          }
        }
      }
      .cardInfo {
        display: flex;
        flex-direction: column;
        .cardInfoDesc {
          display: flex;
          justify-content: space-between;

          font-size: max(1.3vw, 1.5rem);
          font-weight: 600;

          margin-bottom: 12px;
        }
        .cardInfoCathgoriesWrapper {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;

          .cardInfoCathgories {
            display: flex;
            flex-direction: column;

            padding: 5px;
            width: 100%;

            .cardInfoCathegoriesOne {
              display: flex;
              gap: 5px;
              font-size: max(1vw, 1rem);
              span {
                background: #f9d9aa;
                border-radius: 7px;
                flex-grow: 1;
                text-align: center;

                margin-bottom: 5px;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover {
                  background-color: darken(#f9d9aa, 4%);
                }

                &:active {
                  background-color: darken(#f9d9aa, 8%);
                }

                &.active {
                  background-color: #ff902a;
                  color: #fff;
                }
              }
            }
            .cardInfoCathegoriesTwo {
              display: flex;
              gap: 5px;
              font-size: max(1vw, 1rem);
              min-width: 5rem;
              span {
                background: #f9d9aa;
                border-radius: 7px;
                flex: 1;
                text-align: center;
                min-width: 4rem;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                &:hover {
                  background-color: darken(#f9d9aa, 4%);
                }

                &:active {
                  background-color: darken(#f9d9aa, 8%);
                }

                &.active {
                  background-color: #ff902a;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}
.cardWrapperRating {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.4) 100%);
  backdrop-filter: blur(4px);
  border-radius: 62px;
  height: 40px;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  .cardPictureRating {
    background-color: #ffffff;
    border-radius: 42px;
    width: 95%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    font-size: 18px;
    font-weight: 600;
  }
}

.addToCart {
  width: 15%;
  min-width: 3rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: translateY(2px);
  }
}
