html {
  background-color: #fff7eb;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #2f2105;
  // overflow-x: hidden;
}
.wrapper {
  // background-image: url(./images/bg-image.png);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  background-color: #fff7eb;
  // background-color: #fff;

  .title {
    font-size: max(3vw, 2rem);
    font-weight: 600;
    margin-left: 145px;
    @media (max-width: 1100px) {
      margin-left: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1em;
    }
    span {
      position: relative;
      &:after {
        content: '';
        display: block;
        height: max(0.4vw, 4px);
        border-radius: 12px;
        width: 100%;
        background: #ff902b;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}

.popular {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 100%;
    height: 200%;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}
.menu {
  display: block;
  margin-top: 150px;
  background-color: #fff7eb;

  .menu__cards {
    // display: flex;
    // flex-wrap: wrap;
    // gap: 15px;
    // justify-content: center;
    // align-items: center;
    // display: flex;
    // flex-wrap: wrap;
    // gap: 15px;
    // margin: 50px 145px;
    // justify-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 2fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-top: 3em;
    padding: 50px 3%;
    justify-items: center;

    // justify-items: center;
    img {
      width: 100%;
      // height: 200%;
    }
  }
}

.add__to__cart {
  cursor: pointer;
}
.content__top {
  display: flex;

  justify-content: space-between;
  padding: 50px 145px;
  @media (max-width: 1100px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    justify-content: center;
    gap: 2em;
  }
}
